<!-- <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

  <div class="card" style="width: 18rem;">
    <div class="card-flip">
        <div class="flip">
            <div class="front">
                <!-- inicio de front -->
                <img src="..."
                    class="card-img-top img-fluid" alt="img Fondo">
                <div class="text-center">
                    <img src="..."
                        alt="img Persona" class="personaImg rounded-circle" height="100px" width="100px">
                </div>
                <div class="card-body">
                    <h5 class="card-title">titulo</h5>
                    
                </div>
                <!-- fin front -->
            </div>
            <div class="back">
                <!-- inicio back -->      
                <div class="card-body backCard" >
                    <!-- <p class="card-text">Edad: {{integrante.age}} años</p> -->
                    <p class="card-text">descripcion</p>
                    <span class="badge badge-primary">cosito</span>
                </div>                  
                <!-- fin back  -->
            </div>
        </div>
    </div>
</div>