<!-- <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

  <div class="card" style="width: 18rem;">
    <div class="card-flip">
        <div class="flip">
            <div class="front">
                <!-- inicio de front -->
                <!-- <img src="..."
                    class="card-img-top img-fluid" alt="img Fondo"> -->
                <div class="text-center">
                    <img [src]="objeto.ImagenPortada"
                        alt="img Persona" class="" height="100px" width="100px">
                </div>
                <div class="card-body">
                    <h5 class="card-title"> {{ objeto.Nombre }} </h5>
                    
                </div>
                <!-- fin front -->
            </div>
            <div class="back">
                <!-- inicio back -->      
                <div class="card-body backCard" >
                    <!-- <p class="card-text">Edad: {{integrante.age}} años</p> -->
                    <p class="card-text">descripcion</p>
                    <span *ngFor="let marca of objeto.Marcas" class="badge badge-primary">{{marca}}</span>
                </div>                  
                <!-- fin back ng build --prod --base-href "https://botoom.github.io/catalogo-nia/"  -->
            </div>
        </div>
    </div>
</div>